# Email configuration (for email service)
SUPPORT_EMAIL=example@test.com
EMAIL_PASSWORD=test_password

# RabbitMQ configuration
RABBIT_MQ_USERNAME=testRabbitMqUsername
RABBIT_MQ_PASSWORD=testRabbitMqPassword
RABBIT_MQ_HOST=testRabbitMqHost
RABBIT_MQ_VHOST=testRabbitMqVirtualHost
